<div class='news'>
  <!-- <h2>Selected Projects</h2> -->

  <style>
    .selected_project {
      width:100%;
      /* border:1px solid black; */
      /* border-radius:5px; */
      text-align:center;
    }
    .selected_project img {
      border-radius:5px;
      border:1px solid lightgray;
    }
  </style>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

</div>  -->
  <!-- <div class="col one left" >
    <div class='selected_project'>
      <img src="{{ site.baseurl }}/assets/paper_img/constellations.png" alt="" title="example image" style='width:100%'/>
      <b>Chart Constellations</b><br>
      <span>EuroVis 2018</span>
    </div>
  </div>

  <div class="col one left" >
    <div class='selected_project'>
      <img src="{{ site.baseurl }}/assets/paper_img/constellations.png" alt="" title="example image" style='width:100%'/>
      <b>Chart Constellations</b><br>
      <span>EuroVis 2018</span>
    </div>
  </div>

  <div class="col one left" style='margin-bottom:10px;'>
    <div class='selected_project'>
      <img src="{{ site.baseurl }}/assets/paper_img/constellations.png" alt="" title="example image" style='width:100%'/>
      <b>Chart Constellations</b><br>
      <span>EuroVis 2018</span>
    </div>
  </div>

<div style=='border-top:1px solid #e8e8e8;width:100%;height:10px;'>
  dd
</div> -->

<!-- </div> -->
<!-- 6/25/202 uncomment below to show the news feed -->
<!-- <div class="news"> -->
  <h2>Recent News</h2>
  {% if site.news  %}
    <table>
    {% assign news = site.news | reverse %}
    {% for item in news limit: site.news_limit %}
      <tr>
        <td class="date"  >{{ item.date | date: "%b %Y" }}</td>
        <td class="announcement">
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            <a class="news-title" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
