.page-content {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 40px;
    margin: 10px;

}
.contacticon a {
	margin-right:10px;
	margin-left:10px;
}
.center{
    text-align: center;
}
